In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import json

In [2]:
with open(r"C:\Users\patri\Documents\nss_main\nss_dda10\capstone_holygrail\Data\census_key.json") as fi:
    credentials = json.load(fi)

In [3]:
api_key = credentials["api_key"]

    Functions for Converting Json to dataframe with pandas

In [4]:
def json_to_data_frame(response):
    """
    Convert response to dataframe
    """
    return pd.DataFrame(response.json()[1:], columns=response.json()[0])

Setting  Base Url to reference

In [5]:
base_url = "https://api.census.gov/data/2021/cbp"

Setting required parameters for API request

In [6]:
state_code = "47"  # Tennessee's FIPS code
county_code = "037"  # Davidson County's FIPS code
industry_variable = "NAICS2017" # Industry Group variable ( Looking for tourism, music, entertainment, etc)

Adding other variables as needed.

In [7]:
economic_variables = "EMP,ESTAB,EMPSZES"

In [8]:
api_url = f"{base_url}?get={economic_variables}&for=county:{county_code}&in=state:{state_code}&key={api_key}"

Making API request and testing for success. Great success!

In [9]:
response = requests.get(api_url)
response

Making all columns visible

In [10]:
pd.options.display.max_columns = None

In [11]:
response.text

'[["EMP","ESTAB","EMPSZES","state","county"],\n["445200","21052","001","47","037"],\n["0","10252","210","47","037"],\n["0","3895","220","47","037"],\n["0","3005","230","47","037"],\n["0","2382","241","47","037"],\n["0","786","242","47","037"],\n["0","524","251","47","037"],\n["0","134","252","47","037"],\n["0","49","254","47","037"],\n["0","25","260","47","037"],\n["0","12","262","47","037"],\n["0","9","263","47","037"]]'

In [12]:
json_to_data_frame(response)

       EMP  ESTAB EMPSZES state county
0   445200  21052     001    47    037
1        0  10252     210    47    037
2        0   3895     220    47    037
3        0   3005     230    47    037
4        0   2382     241    47    037
5        0    786     242    47    037
6        0    524     251    47    037
7        0    134     252    47    037
8        0     49     254    47    037
9        0     25     260    47    037
10       0     12     262    47    037
11       0      9     263    47    037

Making an alias for API Url ease

In [19]:
fields = "COUNY"

Making multiple api urls for testing

In [20]:
api_url2 = f"{base_url}?get={fields}&for=county:{county_code}&in=state:{state_code}&key={api_key}"

In [21]:
response = requests.get(api_url2)
response

In [16]:
json_to_data_frame(response)

       EMP  ESTAB EMPSZES state county
0   445200  21052     001    47    037
1        0  10252     210    47    037
2        0   3895     220    47    037
3        0   3005     230    47    037
4        0   2382     241    47    037
5        0    786     242    47    037
6        0    524     251    47    037
7        0    134     252    47    037
8        0     49     254    47    037
9        0     25     260    47    037
10       0     12     262    47    037
11       0      9     263    47    037